<header class="animated blog-cover fadeIn" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <img class="big-logo" src="{{asset 'images/big-logo.png'}}" alt="big logo">
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
</header>
